body {
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  padding: 0;
  background-image: url("/falling-stars.gif");
  background-size: cover;
  background-position: center;
}

/* Configurações do input */

.instaButton {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

/* Animação do botão */

@keyframes floatingButton {
  0%,
  100% {
    transform: translateY(-2px) rotate(-2deg);
  }

  50% {
    transform: translateY(2px) rotate(2deg);
  }
}

.ghost-animation-button {
  animation: floatingButton 4s ease-in-out infinite;
}
